@using UTIL.Models;
@{
    ViewBag.Title = "ConsultarUsuario";

    List<UsuarioModel> usuarios = ViewBag.Usuarios;
}

<h2>Consultar Usuarios</h2>

<div class="panel panel-inverse width-full">
    <div class="panel-heading">
        <h4 class="panel-title">Listado de Usuarios </h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="dataTable" class="table" cellspacing="0">
            <thead>
                <tr>

                    <th width=100px>ID</th>

                    <th width=200px>Cargo</th>

                    <th width=300px>Nombre</th>

                    <th width=300px>Contraseña</th>

                    <th width=100px>Editar</th>
                </tr>
            </thead>
            <tbody>
                @{
                    try
                    {
                        for (int i = 0; i < usuarios.Count; i++)
                        {
                            <tr>

                                <td>@usuarios[i].idUsuario</td>

                                <td>@usuarios[i].cargo</td>

                                <td>@usuarios[i].nombreUsuario</td>

                                <td>@usuarios[i].passUsuario</td>

                                <td>
                                    <input class="btn btn-primary btn-sm" type="button" name="btnEditarUsuario" value="Editar">
                                </td>
                            </tr>
                        }
                    }
                    catch (Exception)
                    {
                        <tr>
                            <td></td>
                            <td>No existen Repuestos</td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>