USE [master]
GO
/****** Object:  Database [TALLER_MECANICO]    Script Date: 21/06/2021 10:56:44 ******/
CREATE DATABASE [TALLER_MECANICO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TALLER_MECANICO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TALLER_MECANICO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TALLER_MECANICO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TALLER_MECANICO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TALLER_MECANICO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TALLER_MECANICO]
GO
/****** Object:  User [prueba]    Script Date: 21/06/2021 10:56:44 ******/
CREATE USER [prueba] FOR LOGIN [prueba] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 21/06/2021 10:56:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[rutCliente] [varchar](10) NOT NULL,
	[nombreCliente] [varchar](35) NULL,
	[apellidoCliente] [varchar](35) NULL,
	[direccionCliente] [varchar](100) NULL,
	[telefonoCliente] [int] NULL,
	[correoCliente] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rutCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_orden]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_orden](
	[folioDetalleOrden] [int] IDENTITY(1,1) NOT NULL,
	[fk_folioOrden] [int] NULL,
	[cantidadRepuesto] [int] NULL,
	[subTotal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioDetalleOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_presupuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_presupuesto](
	[folioDetalle] [int] IDENTITY(1,1) NOT NULL,
	[fk_folioEncabezado] [int] NULL,
	[id] [int] NULL,
	[cantidad] [int] NULL,
	[Tipo] [char](1) NULL,
	[subTotal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encabezado_presupuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encabezado_presupuesto](
	[folioEncabezado] [int] IDENTITY(1,1) NOT NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_patente] [varchar](6) NULL,
	[fecha] [date] NULL,
	[observaciones] [varchar](200) NULL,
	[estado] [varchar](20) NULL,
	[neto] [int] NULL,
	[iva] [int] NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioEncabezado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_trabajo]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_trabajo](
	[folioOrden] [int] IDENTITY(1,1) NOT NULL,
	[fk_idUsuario] [int] NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_patente] [varchar](6) NULL,
	[fecha] [date] NULL,
	[fechaEntrega] [date] NULL,
	[prioridad] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
	[anulacion] [bit] NOT NULL,
	[neto] [int] NULL,
	[iva] [int] NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombreProveedor] [varchar](50) NULL,
	[direccionProveedor] [varchar](200) NULL,
	[telefonoProveedor] [varchar](10) NULL,
	[correoProveedor] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor_repuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor_repuesto](
	[idProveedor] [int] NOT NULL,
	[idRepuesto] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repuesto](
	[idRepuesto] [int] IDENTITY(10000,1) NOT NULL,
	[nombreRepuesto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[idServicio] [int] IDENTITY(1,1) NOT NULL,
	[nombreServicio] [varchar](200) NULL,
	[valorServicio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_usuario]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_usuario](
	[idTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[cargo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoVehiculo]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoVehiculo](
	[idTipoVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[fk_idTipoUsuario] [int] NULL,
	[nombreUsuario] [varchar](50) NULL,
	[passUsuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculo]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculo](
	[patente] [varchar](6) NOT NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_idTipoVehiculo] [int] NULL,
	[marca] [varchar](50) NULL,
	[color] [varchar](12) NULL,
	[modelo] [varchar](50) NULL,
	[ano] [int] NULL,
	[kilometraje] [int] NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente] ([rutCliente], [nombreCliente], [apellidoCliente], [direccionCliente], [telefonoCliente], [correoCliente]) VALUES (N'17248124-8', N'Felipe', N'Munoz', N'Avenida Nosellama 123', 994042289, N'felipemunoz@gmail.com')
INSERT [dbo].[cliente] ([rutCliente], [nombreCliente], [apellidoCliente], [direccionCliente], [telefonoCliente], [correoCliente]) VALUES (N'18117587-7', N'Nicolas', N'Espinoza', N'Buin,Cabernet 49', 36827051, N'9nico5@gmail.com')
SET IDENTITY_INSERT [dbo].[detalle_presupuesto] ON 

INSERT [dbo].[detalle_presupuesto] ([folioDetalle], [fk_folioEncabezado], [id], [cantidad], [Tipo], [subTotal]) VALUES (18, 21, 10038, 1, N'R', 120000)
INSERT [dbo].[detalle_presupuesto] ([folioDetalle], [fk_folioEncabezado], [id], [cantidad], [Tipo], [subTotal]) VALUES (20, 22, 10069, 2, N'R', 30000)
INSERT [dbo].[detalle_presupuesto] ([folioDetalle], [fk_folioEncabezado], [id], [cantidad], [Tipo], [subTotal]) VALUES (24, 23, 10036, 1, N'R', 10000)
SET IDENTITY_INSERT [dbo].[detalle_presupuesto] OFF
SET IDENTITY_INSERT [dbo].[encabezado_presupuesto] ON 

INSERT [dbo].[encabezado_presupuesto] ([folioEncabezado], [fk_rutCliente], [fk_patente], [fecha], [observaciones], [estado], [neto], [iva], [total]) VALUES (21, N'18117587-7', N'zn7016', CAST(N'2021-06-20' AS Date), N' prueba 1 ', N'1', 120000, 22800, 142800)
INSERT [dbo].[encabezado_presupuesto] ([folioEncabezado], [fk_rutCliente], [fk_patente], [fecha], [observaciones], [estado], [neto], [iva], [total]) VALUES (22, N'18117587-7', N'zn7016', CAST(N'2021-06-20' AS Date), N' prueba 2', N'1', 30000, 5700, 35700)
INSERT [dbo].[encabezado_presupuesto] ([folioEncabezado], [fk_rutCliente], [fk_patente], [fecha], [observaciones], [estado], [neto], [iva], [total]) VALUES (23, N'18117587-7', N'zn7016', CAST(N'2021-06-20' AS Date), N' prueba 3', N'1', 10000, 1900, 11900)
SET IDENTITY_INSERT [dbo].[encabezado_presupuesto] OFF
SET IDENTITY_INSERT [dbo].[proveedor] ON 

INSERT [dbo].[proveedor] ([idProveedor], [nombreProveedor], [direccionProveedor], [telefonoProveedor], [correoProveedor]) VALUES (1, N'Chulito Repuestos', N'Av. Los Chulines 123', N'123468795', N'repuestoschulito@gmail.com')
INSERT [dbo].[proveedor] ([idProveedor], [nombreProveedor], [direccionProveedor], [telefonoProveedor], [correoProveedor]) VALUES (2, N'Nico Repuestos', N'Av. Los Nicolines 456', N'784236598', N'nicolinrepuestos@gmail.com')
SET IDENTITY_INSERT [dbo].[proveedor] OFF
SET IDENTITY_INSERT [dbo].[repuesto] ON 

INSERT [dbo].[repuesto] ([idRepuesto], [nombreRepuesto]) VALUES (10016, N'Anillos de Motor')
INSERT [dbo].[repuesto] ([idRepuesto], [nombreRepuesto]) VALUES (10063, N'Balancin')
INSERT [dbo].[repuesto] ([idRepuesto], [nombreRepuesto]) VALUES (10069, N'Balatas Traseras')
SET IDENTITY_INSERT [dbo].[repuesto] OFF
SET IDENTITY_INSERT [dbo].[servicio] ON 

INSERT [dbo].[servicio] ([idServicio], [nombreServicio], [valorServicio]) VALUES (1, N'Mantención por Kilometraje', 15000)
INSERT [dbo].[servicio] ([idServicio], [nombreServicio], [valorServicio]) VALUES (2, N'Ajuste de Motor', 60000)
INSERT [dbo].[servicio] ([idServicio], [nombreServicio], [valorServicio]) VALUES (3, N'Reparación Diferenciales', 45000)
SET IDENTITY_INSERT [dbo].[servicio] OFF
SET IDENTITY_INSERT [dbo].[tipo_usuario] ON 

INSERT [dbo].[tipo_usuario] ([idTipoUsuario], [cargo]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[tipo_usuario] ([idTipoUsuario], [cargo]) VALUES (2, N'MECANICO')
SET IDENTITY_INSERT [dbo].[tipo_usuario] OFF
SET IDENTITY_INSERT [dbo].[tipoVehiculo] ON 

INSERT [dbo].[tipoVehiculo] ([idTipoVehiculo], [nombre]) VALUES (1, N'auto')
INSERT [dbo].[tipoVehiculo] ([idTipoVehiculo], [nombre]) VALUES (2, N'camion')
INSERT [dbo].[tipoVehiculo] ([idTipoVehiculo], [nombre]) VALUES (3, N'grua orquilla')
SET IDENTITY_INSERT [dbo].[tipoVehiculo] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [fk_idTipoUsuario], [nombreUsuario], [passUsuario]) VALUES (1, 1, N'FELIPE', N'81dc9bdb52d04dc20036dbd8313ed055')
INSERT [dbo].[usuario] ([idUsuario], [fk_idTipoUsuario], [nombreUsuario], [passUsuario]) VALUES (2, 1, N'ROBERTO', N'674f3c2c1a8a6f90461e8a66fb5550ba')
INSERT [dbo].[usuario] ([idUsuario], [fk_idTipoUsuario], [nombreUsuario], [passUsuario]) VALUES (3, 1, N'NICOLAS', N'789')
SET IDENTITY_INSERT [dbo].[usuario] OFF
INSERT [dbo].[vehiculo] ([patente], [fk_rutCliente], [fk_idTipoVehiculo], [marca], [color], [modelo], [ano], [kilometraje], [estado]) VALUES (N'ZN7016', N'18117587-7', 1, N'Fiat', N'blanco', N'palio 1.2', 2006, 200000, N'ingresado')
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__repuesto__A39601EB656280F2]    Script Date: 21/06/2021 10:56:45 ******/
ALTER TABLE [dbo].[repuesto] ADD UNIQUE NONCLUSTERED 
(
	[nombreRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__servicio__29174983DBFAD68B]    Script Date: 21/06/2021 10:56:45 ******/
ALTER TABLE [dbo].[servicio] ADD UNIQUE NONCLUSTERED 
(
	[nombreServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__6BDEAE00437CD295]    Script Date: 21/06/2021 10:56:45 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[passUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__A0436BD71DE474FE]    Script Date: 21/06/2021 10:56:45 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD FOREIGN KEY([fk_folioOrden])
REFERENCES [dbo].[orden_trabajo] ([folioOrden])
GO
ALTER TABLE [dbo].[detalle_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_folioEncabezado])
REFERENCES [dbo].[encabezado_presupuesto] ([folioEncabezado])
GO
ALTER TABLE [dbo].[encabezado_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_patente])
REFERENCES [dbo].[vehiculo] ([patente])
GO
ALTER TABLE [dbo].[encabezado_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_patente])
REFERENCES [dbo].[vehiculo] ([patente])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
ALTER TABLE [dbo].[proveedor_repuesto]  WITH CHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[proveedor_repuesto]  WITH CHECK ADD FOREIGN KEY([idRepuesto])
REFERENCES [dbo].[repuesto] ([idRepuesto])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([fk_idTipoUsuario])
REFERENCES [dbo].[tipo_usuario] ([idTipoUsuario])
GO
ALTER TABLE [dbo].[vehiculo]  WITH CHECK ADD FOREIGN KEY([fk_idTipoVehiculo])
REFERENCES [dbo].[tipoVehiculo] ([idTipoVehiculo])
GO
ALTER TABLE [dbo].[vehiculo]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_BuscarCliente]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_BuscarCliente]				                */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/

create procedure [dbo].[MT_GET_BuscarCliente]
@rut varchar(10)
as
begin
select * 
from cliente
where rutCliente=''+@rut+''

end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_BuscarVehiculo]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_BuscarVehiculo]				            */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/

create procedure [dbo].[MT_GET_BuscarVehiculo]
@patente varchar(10)
as
begin
select * 
from vehiculo
where patente=''+@patente+''

end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Clientes]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MT_GET_Clientes]

  as
  begin

  select	rutCliente,
			nombreCliente,
			apellidoCliente,
			direccionCliente,
			telefonoCliente,
			correoCliente
  from cliente 

  end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Repuestos]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Repuestos]				                */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
create procedure [dbo].[MT_GET_Repuestos]
as

begin 
select idRepuesto , upper(nombreRepuesto)as nombreRepuesto from repuesto

end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Servicios]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Servicios]				                */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/

create procedure [dbo].[MT_GET_Servicios]

as
begin 

select idServicio, upper(nombreServicio) as nombreServicio,valorServicio
from servicio
end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_TipoVehiculo]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_TipoVehiculo]								        */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_TipoVehiculo]

  as
  begin

  select idTipoVehiculo, UPPER(nombre) as nombre from tipoVehiculo 

  end

GO
/****** Object:  StoredProcedure [dbo].[MT_SP_DEL_DetallePresupuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MT_SP_DEL_DetallePresupuesto]
@idEncabezado int,
@linea int
as
declare @mensaje varchar(max)

delete from detalle_presupuesto 
where folioDetalle=@linea and fk_folioEncabezado=@idEncabezado

select @mensaje='Registro insertado'
GO
/****** Object:  StoredProcedure [dbo].[MT_SP_GET_BuscarDetalle]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[MT_SP_GET_BuscarDetalle]
@IdEncabezado int,
@linea int 
as

  select
  d.folioDetalle,
  d.id as codigo,
  Tipo = case d.Tipo when 'R' then 'Repuesto' else 'Servicio' end,
  nombre= case d.Tipo when 'R' then (select nombreRepuesto from repuesto where idRepuesto=d.id) else (select nombreServicio from servicio where idServicio=d.id) end,
  d.fk_folioEncabezado,
  d.cantidad,
  Unidad=round((d.subTotal/d.cantidad),0),
  d.subTotal
  from detalle_presupuesto d
  where fk_folioEncabezado=@IdEncabezado and folioDetalle=@linea
GO
/****** Object:  StoredProcedure [dbo].[MT_SP_GET_DetallePrespuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[MT_SP_GET_DetallePrespuesto]
@id_Encabezado int
as
  select
  d.folioDetalle,
  d.id as codigo,
  nombre= case d.Tipo when 'R' then (select nombreRepuesto from repuesto where idRepuesto=d.id) else (select nombreServicio from servicio where idServicio=d.id) end,
  d.fk_folioEncabezado,
  d.cantidad,
  Unidad=round((d.subTotal/d.cantidad),0),
  d.subTotal
  from detalle_presupuesto d
  where fk_folioEncabezado=@id_Encabezado

GO
/****** Object:  StoredProcedure [dbo].[MT_SP_GET_EncabezadoDetalle]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MT_SP_GET_EncabezadoDetalle]
@id_Encabezado int
as

select
p.folioEncabezado, 
c.nombreCliente+' '+c.apellidoCliente as Nombre,
c.rutCliente,
c.telefonoCliente,
upper(v.patente) as patente,
v.marca,
v.modelo,
v.ano,
v.kilometraje,
p.observaciones,
convert(nvarchar(30),p.fecha,105) as fecha,
p.neto,
p.iva,
p.total
from encabezado_presupuesto p
inner join cliente c
on p.fk_rutCliente=c.rutCliente
inner join vehiculo v 
on c.rutCliente=v.fk_rutCliente
where p.folioEncabezado =@id_Encabezado
GO
/****** Object:  StoredProcedure [dbo].[MT_SP_GET_Presupuestos]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MT_SP_GET_Presupuestos]
as
select
p.folioEncabezado, 
c.nombreCliente+' '+c.apellidoCliente as Nombre,
c.rutCliente,
upper(v.patente) as patente,
v.marca,
v.modelo,
convert(nvarchar(30),p.fecha,105) as fecha,
p.neto,
p.iva,
p.total,
case p.estado when '1' then 'pendiende' else 'aprobado' end as Estado 
from encabezado_presupuesto p
inner join cliente c
on p.fk_rutCliente=c.rutCliente
inner join vehiculo v 
on c.rutCliente=v.fk_rutCliente
order by p.fecha desc, p.folioEncabezado desc

GO
/****** Object:  StoredProcedure [dbo].[MT_SP_UP_ActualizarPresupuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MT_SP_UP_ActualizarPresupuesto]
@idEncabezado int,
@neto int,
@iva int,
@total int
as
declare @mensaje varchar(max)

update encabezado_presupuesto set neto=@neto ,iva=@iva,total=@total where folioEncabezado=@idEncabezado

select @mensaje='Registro actualizado'

select * from  encabezado_presupuesto
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LOGIN]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[GET_LOGIN]								        */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
create procedure [dbo].[SP_GET_LOGIN]  
	@Nombre varchar(15),       
	@Contrasena varchar(50)       
as 
begin
	set nocount on       
	
	select	u.idUsuario,
			u.fk_idTipoUsuario,
			u.nombreUsuario
	from	usuario u       
	where	u.nombreUsuario = @Nombre 
	and		u.passUsuario = @Contrasena 
	
	set nocount OFF       
end  
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_DetallePresupuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[SP_INS_DetallePresupuesto]
@FolioEncabezado int,
@id int,
@cantidad int,
@Tipo char(1),
@subTotal int
as

declare @mensaje varchar(max)


insert into detalle_presupuesto(fk_folioEncabezado,id,cantidad,Tipo,subTotal)
values(@FolioEncabezado,@id,@cantidad,@Tipo,@subTotal)

select @mensaje='Registro insertado'


GO
/****** Object:  StoredProcedure [dbo].[SP_INS_EncabezadoPresupuesto]    Script Date: 21/06/2021 10:56:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_INS_EncabezadoPresupuesto]
--- Cabecera---
@rutcliente varchar(10),
@patente varchar(8),
@fecha datetime,
@observaciones varchar(100),
@estado varchar(20),
@neto int,
@iva int,
@total int

as
declare @mensaje varchar(max)

insert into encabezado_presupuesto(fk_rutCliente,fk_patente,fecha,observaciones,estado,neto,iva,total)
values(@rutcliente,@patente,@fecha,@observaciones,@estado,@neto,@iva,@total)

select @@IDENTITY as id_encabezado


--select * from encabezado_presupuesto
--select * from detalle_presupuesto
--delete from encabezado_presupuesto
--DBCC CHECKIDENT (encabezado_presupuesto, RESEED, 0)
GO
USE [master]
GO
