
@{
    ViewBag.Title = "AnularOrden";
}

<h2>Anular Orden de Trabajo</h2>

<!-- Panel Cliente & Vehiculo -->
<div class="row">

    <div class="col-lg-12 ui-sortable">

        <div class="panel panel-inverse" data-sortable-id="form-plugins-3">

            <div class="panel-heading">
                <h4 class="panel-title">Anular Orden de Trabajo</h4>
                <div class="panel-heading-btn">
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive form-inline">
                    <table class="table table-profile">
                        <tbody>
                            <tr class="highlight">
                                <td>ID Orden de Trabajo</td>
                                <td>
                                    <input type="number" name="txtIdOrden" class="form-control" min="1">
                                </td>
                                <td>
                                    <input class="btn btn-danger" type="button" name="btnAnular" value="Anular Orden">
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>