@using UTIL.Models;
@{
    string parametroUpdate = MiTallerMecanico.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "ConsultaCliente";
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>
        Clientes - Mi Taller Mecánico
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="description" />
    <meta name="author" />
    <script src="~/WebJs/Cliente/Cliente.js?@parametroUpdate"></script>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/js/theme/default.min.js"></script>
    <script src="~/WebJs/Base.js"></script>
    @*<script src="~/WebJs/EditableClass.js"></script>*@
    <link href="~/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/Content/assets/css/one-page-parallax/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <style>
        #homeImageContainer {
            background-image: url('../../Content/assets/img/bg/bg-home.jpg');
            background-position: center 0px;
        }
    </style>

</head>

<body class="pace-top pace-done">
    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99"
             style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade show">

        <!-- begin #header -->
        <div id="header" class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg">
            <!-- begin navbar-header -->
            <div class="container">
                <a href="@Url.Action("ConsultaCliente", "ConsultaCliente")" class="navbar-brand">

                    <span class="brand-text">

                        <b>MiTaller</b>-<b>Mecánico</b>
                        <small class="font-weight-light ml-1">Clientes</small>
                    </span>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- end navbar-header -->
                <!-- begin header-nav -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#home" data-click="scroll-to-target">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#consultar"
                               data-click="scroll-to-target">CONSULTAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact"
                               data-click="scroll-to-target">CONTACTO</a>
                        </li>
                    </ul>
                </div>
                <!-- end header-nav -->
            </div>
        </div>
        <!-- end #header -->
        <!-- begin Home -->
        <div id="home" class="content has-bg home">
            <div id="homeImageContainer" class="content-bg" data-paroller="true" data-paroller-factor="0.5"
                 data-paroller-factor-xs="0.25">
            </div>


            <div class="container home-content">
                <h1>
                    ¡Bienvenid&#64; a<br />
                    <span class="text-primary">ConsultarMi-Vehículo</span>!
                </h1>
                <h3>
                    Consulte el estado de su<br />
                    vehículo sólo con el número de<br />
                    orden y la patente de su vehículo.
                </h3>

                <a href="#consultar" class="text-white f-s-30" data-click="scroll-to-target">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </a>
            </div>

        </div>
        <!-- end Home -->
        <!-- begin Consultar -->
        <div id="consultar" class="content text-center">

            <div class="container">
                <h2 class="content-title">
                    Consultar<br />
                    <i class="fas fa-car"></i>
                </h2>


                <form method="post" id="form1" class="form">
                    <div class="row m-b-30">
                        <div class="col-lg-4 pt-3">
                            <div class="form-group">
                                <input name="txtNroOrden" type="number" id="txtNroOrden"
                                       class="form-control form-control-lg" placeholder="Número de Orden" min="1"
                                       max="999999999" />
                            </div>
                        </div>
                        <div class="col-lg-4 pt-3">
                            <div class="form-group">
                                <input name="txtPatente" type="text" maxlength="6" id="txtPatente"
                                       class="form-control form-control-lg" placeholder="Patente" />
                            </div>
                        </div>
                        <div class="col-lg-4 pt-3">
                            <input type="button" name="btnConsultar" value="Consultar" id="btnConsultar" onclick="EstadoVehiculo()"
                                   class="btn btn-lg btn-primary w-100" />
                        </div>
                    </div>
                </form>

                <!-- DIV PARA MOSTRAR ANTES DE LA CONSULTA -->
                <div id="txtPreConsulta">
                    <h1 class="mb-4">
                        Consulte ahora . .
                        <i class="fas fa-spinner fa-spin"></i>
                    </h1>
                </div>

                <!-- DIV PARA MOSTRAR DESPUES DE LA CONSULTA -->
                <div ID="txtPostConsulta" hidden>
                    <h1 class="mb-4" >
                        Su Vehiculo está <span id="Estado"></span>
                    </h1>
                    <p class="mb-4">
                        Si desea, puede ponerse en contacto directamente<br />
                        con el taller o dirigirse al lugar para hacer<br />
                        consultas sobre su vehículo.
                    </p>
                    <a href="#contact" class="text-dark f-s-30" data-click="scroll-to-target">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </a>
                </div>

            </div>

        </div>
        <!-- end Consultar -->
        <!-- begin Contact -->
        <div id="contact" class="content bg-silver-lighter" data-scrollview="true">

            <div class="container">
                <h2 class="content-title">
                    Contacto<br />
                    <i class="fas fa-phone"></i>
                </h2>

                <div class="row">

                    <div class="col-lg-6 fadeInLeft contentAnimated finishAnimated" data-animation="true"
                         data-animation-type="fadeInLeft">
                        <h3>
                            Para dudas o asistencia con su vehículo<br />
                            no dude en contactarnos.
                        </h3>
                        <p>
                            Atendemos de lunes a viernes en horario de oficina<br />
                            y sábados hasta las 16:00 hrs.
                        </p>
                        <p>
                            <strong>Taller Mecánico Navarrete e Hijo</strong><br>
                               Camino Padre Hurtado 761 <br>
                            Buin, RM<br>
                        </p>
                        <p>
                            <span class="phone"><i class="fab fa-whatsapp"></i> +56 (9) 2123 4567</span><br>
                            <i class="far fa-envelope"><a href="#" class="text-primary"></i>
                            tallernavarreteehijo@gmail.com</a>
                        </p>
                    </div>


                    <div class="col-lg-6 form-col fadeInRight contentAnimated finishAnimated" data-animation="true"
                         data-animation-type="fadeInRight">
                        <form class="form-horizontal">
                            <div class="form-group row m-b-15">
                                <label class="col-form-label col-lg-3 text-lg-right">
                                    Nombre <span class="text-primary">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label class="col-form-label col-lg-3 text-lg-right">
                                    Correo <span class="text-primary">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label class="col-form-label col-lg-3 text-lg-right">
                                    Mensaje <span class="text-primary">*</span>
                                </label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group row m-b-15">
                                <label class="col-form-label col-lg-3 text-lg-right"></label>
                                <div class="col-lg-9 text-left">
                                    <button type="submit" class="btn btn-theme btn-primary btn-block">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
        <!-- end Contact -->
        <!-- begin Footer -->
        <div id="footer" class="footer">
            <div class="container">

                <p>💪 &copy; 2021 - Powered by MiTaller-Mecánico 💪</p>
            </div>
        </div>
        <!-- end Footer -->

    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/Content/assets/js/one-page-parallax/app.min.js"></script>
    <link href="/Content/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/Content/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== END BASE JS ==ipt>================ -->
</body>

</html>