@{
    ViewBag.Title = "Home Page";
}


<div id="content">

    <!-- DESCOMENTAR PARA MOSTRAR MENSAJE BIENVENIDA! -->
    @*<h1 class="page-header">¡Bienvenido! <small>Usuario @MiTallerMecanico.UTIL.SessionVariables.SESSION_DATOS_USUARIO.nombreUsuario</small></h1>*@


    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                <div class="stats-info">
                    <h4>ÓRDENES COMPLETADAS <b>(MES)</b></h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">Ver Detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-info">
                <div class="stats-icon"><i class="fa fa-link"></i></div>
                <div class="stats-info">
                    <h4>ACTUALMENTE EN REPARACIÓN</h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">Ver Detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-orange">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>VEHÍCULOS POR ENTREGAR</h4>
                    <p>1</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">Ver Detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="fa fa-clock"></i></div>
                <div class="stats-info">
                    <h4>ÓRDENES PENDIENTES</h4>
                    <p>2</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
                </div>
            </div>
        </div>

    </div>

</div>