--CREATE DATABASE TALLER_MECANICO
GO
USE TALLER_MECANICO
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 07/06/2021 0:28:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[rutCliente] [varchar](10) NOT NULL,
	[nombreCliente] [varchar](35) NULL,
	[apellidoCliente] [varchar](35) NULL,
	[direccionCliente] [varchar](100) NULL,
	[telefonoCliente] [int] NULL,
	[correoCliente] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rutCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_orden]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_orden](
	[folioDetalleOrden] [int] IDENTITY(1,1) NOT NULL,
	[fk_folioOrden] [int] NULL,
	[cantidadRepuesto] [int] NULL,
	[subTotal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioDetalleOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_presupuesto]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_presupuesto](
	[folioDetalle] [int] IDENTITY(1,1) NOT NULL,
	[fk_folioEncabezado] [int] NULL,
	[cantidadRepuesto] [int] NULL,
	[subTotal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleOrden_Repuesto]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleOrden_Repuesto](
	[folioOrden] [int] NOT NULL,
	[idRepuesto] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleOrden_Servicio]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleOrden_Servicio](
	[folioOrden] [int] NOT NULL,
	[idServicio] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallePresupuesto_Repuesto]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallePresupuesto_Repuesto](
	[idRepuesto] [int] NOT NULL,
	[folioDetalle] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallePresupuesto_Servicio]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallePresupuesto_Servicio](
	[idServicio] [int] NOT NULL,
	[folioDetalle] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encabezado_presupuesto]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encabezado_presupuesto](
	[folioEncabezado] [int] IDENTITY(1,1) NOT NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_patente] [varchar](6) NULL,
	[fecha] [date] NULL,
	[observaciones] [varchar](200) NULL,
	[estado] [varchar](20) NULL,
	[neto] [int] NULL,
	[iva] [int] NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioEncabezado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden_trabajo]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden_trabajo](
	[folioOrden] [int] IDENTITY(1,1) NOT NULL,
	[fk_idUsuario] [int] NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_patente] [varchar](6) NULL,
	[fecha] [date] NULL,
	[fechaEntrega] [date] NULL,
	[prioridad] [varchar](50) NULL,
	[observaciones] [varchar](200) NULL,
	[anulacion] [bit] NOT NULL,
	[neto] [int] NULL,
	[iva] [int] NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[folioOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombreProveedor] [varchar](50) NULL,
	[direccionProveedor] [varchar](200) NULL,
	[telefonoProveedor] [varchar](10) NULL,
	[correoProveedor] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor_repuesto]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor_repuesto](
	[idProveedor] [int] NOT NULL,
	[idRepuesto] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repuesto]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repuesto](
	[idRepuesto] [int] IDENTITY(10000,1) NOT NULL,
	[nombreRepuesto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[idServicio] [int] IDENTITY(1,1) NOT NULL,
	[nombreServicio] [varchar](200) NULL,
	[valorServicio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_usuario]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_usuario](
	[idTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[cargo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoVehiculo]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoVehiculo](
	[idTipoVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[fk_idTipoUsuario] [int] NULL,
	[nombreUsuario] [varchar](50) NULL,
	[passUsuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculo]    Script Date: 07/06/2021 0:28:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculo](
	[patente] [varchar](6) NOT NULL,
	[fk_rutCliente] [varchar](10) NULL,
	[fk_idTipoVehiculo] [int] NULL,
	[marca] [varchar](50) NULL,
	[color] [varchar](12) NULL,
	[modelo] [varchar](50) NULL,
	[ano] [int] NULL,
	[kilometraje] [int] NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente] ([rutCliente], [nombreCliente], [apellidoCliente], [direccionCliente], [telefonoCliente], [correoCliente]) VALUES (N'17248124-8', N'Felipe', N'Munoz', N'Avenida Nosellama 123', 994042289, N'felipemunoz@gmail.com')
SET IDENTITY_INSERT [dbo].[proveedor] ON 

INSERT [dbo].[proveedor] ([idProveedor], [nombreProveedor], [direccionProveedor], [telefonoProveedor], [correoProveedor]) VALUES (1, N'Chulito Repuestos', N'Av. Los Chulines 123', 123468795, N'repuestoschulito@gmail.com')
INSERT [dbo].[proveedor] ([idProveedor], [nombreProveedor], [direccionProveedor], [telefonoProveedor], [correoProveedor]) VALUES (2, N'Nico Repuestos', N'Av. Los Nicolines 456', 784236598, N'nicolinrepuestos@gmail.com')
SET IDENTITY_INSERT [dbo].[proveedor] OFF
SET IDENTITY_INSERT [dbo].[repuesto] ON 

INSERT [dbo].[repuesto] ([idRepuesto], [nombreRepuesto]) VALUES (10016, N'Anillos de Motor')
INSERT [dbo].[repuesto] ([idRepuesto], [nombreRepuesto]) VALUES (10063, N'Balancin')
INSERT [dbo].[repuesto] ([idRepuesto], [nombreRepuesto]) VALUES (10069, N'Balatas Traseras')
SET IDENTITY_INSERT [dbo].[repuesto] OFF
SET IDENTITY_INSERT [dbo].[servicio] ON 

INSERT [dbo].[servicio] ([idServicio], [nombreServicio], [valorServicio]) VALUES (1, N'Mantención por Kilometraje', 15000)
INSERT [dbo].[servicio] ([idServicio], [nombreServicio], [valorServicio]) VALUES (2, N'Ajuste de Motor', 60000)
INSERT [dbo].[servicio] ([idServicio], [nombreServicio], [valorServicio]) VALUES (3, N'Reparación Diferenciales', 45000)
SET IDENTITY_INSERT [dbo].[servicio] OFF
SET IDENTITY_INSERT [dbo].[tipo_usuario] ON 

INSERT [dbo].[tipo_usuario] ([idTipoUsuario], [cargo]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[tipo_usuario] ([idTipoUsuario], [cargo]) VALUES (2, N'MECANICO')
SET IDENTITY_INSERT [dbo].[tipo_usuario] OFF
SET IDENTITY_INSERT [dbo].[tipoVehiculo] ON 

INSERT [dbo].[tipoVehiculo] ([idTipoVehiculo], [nombre]) VALUES (1, N'auto')
INSERT [dbo].[tipoVehiculo] ([idTipoVehiculo], [nombre]) VALUES (2, N'camion')
INSERT [dbo].[tipoVehiculo] ([idTipoVehiculo], [nombre]) VALUES (3, N'grua orquilla')
SET IDENTITY_INSERT [dbo].[tipoVehiculo] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [fk_idTipoUsuario], [nombreUsuario], [passUsuario]) VALUES (1, 1, N'FELIPE', N'81dc9bdb52d04dc20036dbd8313ed055')
INSERT [dbo].[usuario] ([idUsuario], [fk_idTipoUsuario], [nombreUsuario], [passUsuario]) VALUES (2, 1, N'ROBERTO', N'674f3c2c1a8a6f90461e8a66fb5550ba')
INSERT [dbo].[usuario] ([idUsuario], [fk_idTipoUsuario], [nombreUsuario], [passUsuario]) VALUES (3, 1, N'NICOLAS', N'789')
SET IDENTITY_INSERT [dbo].[usuario] OFF

-- Agregada insercion en vehiculo
INSERT [dbo].[vehiculo] ([patente], [fk_rutCliente], [fk_idTipoVehiculo], [marca], [color], [modelo], [ano], [kilometraje], [estado]) VALUES ('PX1234', '17248124-8', 1, 'TOYOTA', 'BLANCO', 'TERCEL', 2004, 25000, '')
-- Fin insercion

SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__repuesto__A39601EB656280F2]    Script Date: 07/06/2021 0:28:15 ******/
ALTER TABLE [dbo].[repuesto] ADD UNIQUE NONCLUSTERED 
(
	[nombreRepuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__servicio__29174983DBFAD68B]    Script Date: 07/06/2021 0:28:15 ******/
ALTER TABLE [dbo].[servicio] ADD UNIQUE NONCLUSTERED 
(
	[nombreServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__6BDEAE00437CD295]    Script Date: 07/06/2021 0:28:15 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[passUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuario__A0436BD71DE474FE]    Script Date: 07/06/2021 0:28:15 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD FOREIGN KEY([fk_folioOrden])
REFERENCES [dbo].[orden_trabajo] ([folioOrden])
GO
ALTER TABLE [dbo].[detalle_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_folioEncabezado])
REFERENCES [dbo].[encabezado_presupuesto] ([folioEncabezado])
GO
ALTER TABLE [dbo].[detalleOrden_Repuesto]  WITH CHECK ADD FOREIGN KEY([folioOrden])
REFERENCES [dbo].[orden_trabajo] ([folioOrden])
GO
ALTER TABLE [dbo].[detalleOrden_Repuesto]  WITH CHECK ADD FOREIGN KEY([idRepuesto])
REFERENCES [dbo].[repuesto] ([idRepuesto])
GO
ALTER TABLE [dbo].[detalleOrden_Servicio]  WITH CHECK ADD FOREIGN KEY([folioOrden])
REFERENCES [dbo].[orden_trabajo] ([folioOrden])
GO
ALTER TABLE [dbo].[detalleOrden_Servicio]  WITH CHECK ADD FOREIGN KEY([idServicio])
REFERENCES [dbo].[servicio] ([idServicio])
GO
ALTER TABLE [dbo].[detallePresupuesto_Repuesto]  WITH CHECK ADD FOREIGN KEY([folioDetalle])
REFERENCES [dbo].[detalle_presupuesto] ([folioDetalle])
GO
ALTER TABLE [dbo].[detallePresupuesto_Repuesto]  WITH CHECK ADD FOREIGN KEY([idRepuesto])
REFERENCES [dbo].[repuesto] ([idRepuesto])
GO
ALTER TABLE [dbo].[detallePresupuesto_Servicio]  WITH CHECK ADD FOREIGN KEY([folioDetalle])
REFERENCES [dbo].[detalle_presupuesto] ([folioDetalle])
GO
ALTER TABLE [dbo].[detallePresupuesto_Servicio]  WITH CHECK ADD FOREIGN KEY([idServicio])
REFERENCES [dbo].[servicio] ([idServicio])
GO
ALTER TABLE [dbo].[encabezado_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_patente])
REFERENCES [dbo].[vehiculo] ([patente])
GO
ALTER TABLE [dbo].[encabezado_presupuesto]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_idUsuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_patente])
REFERENCES [dbo].[vehiculo] ([patente])
GO
ALTER TABLE [dbo].[orden_trabajo]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
ALTER TABLE [dbo].[proveedor_repuesto]  WITH CHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[proveedor_repuesto]  WITH CHECK ADD FOREIGN KEY([idRepuesto])
REFERENCES [dbo].[repuesto] ([idRepuesto])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([fk_idTipoUsuario])
REFERENCES [dbo].[tipo_usuario] ([idTipoUsuario])
GO
ALTER TABLE [dbo].[vehiculo]  WITH CHECK ADD FOREIGN KEY([fk_idTipoVehiculo])
REFERENCES [dbo].[tipoVehiculo] ([idTipoVehiculo])
GO
ALTER TABLE [dbo].[vehiculo]  WITH CHECK ADD FOREIGN KEY([fk_rutCliente])
REFERENCES [dbo].[cliente] ([rutCliente])
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_BuscarCliente]    Script Date: 07/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_BuscarCliente]				            */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/

create procedure [dbo].[MT_GET_BuscarCliente]
@rut varchar(10)
as
begin
select * 
from cliente
where rutCliente=''+@rut+''

end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Repuestos]    Script Date: 07/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Repuestos]				                */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
create procedure [dbo].[MT_GET_Repuestos]
as

begin 
select idRepuesto , upper(nombreRepuesto)as nombreRepuesto from repuesto

end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Servicios]    Script Date: 07/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Servicios]				                */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/

create procedure [dbo].[MT_GET_Servicios]

as
begin 

select idServicio, upper(nombreServicio) as nombreServicio, valorServicio
from servicio
end
GO
/****** Object:  StoredProcedure [dbo].[MT_GET_TipoVehiculo]    Script Date: 07/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_TipoVehiculo]							*/
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_TipoVehiculo]

  as
  begin

  select idTipoVehiculo, UPPER(nombre) as nombre from tipoVehiculo 

  end

GO
/****** Object:  StoredProcedure [dbo].[MT_GET_LOGIN]    Script Date: 07/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_LOGIN]								    */
/*-- Detalle			:														*/
/*-- Autor				: NEspinoza												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
create procedure [dbo].[MT_GET_LOGIN]  
	@Nombre varchar(15),       
	@Contrasena varchar(50)       
as 
begin
	set nocount on       
	
	select	u.idUsuario,
			u.fk_idTipoUsuario,
			u.nombreUsuario
	from	usuario u       
	where	u.nombreUsuario = @Nombre 
	and		u.passUsuario = @Contrasena 
	
	set nocount OFF       
end  

GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Clientes]    Script Date: 09/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Clientes]								*/
/*-- Detalle			:														*/
/*-- Autor				: FMunoz												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_Clientes]

  as
  begin

  select	rutCliente,
			nombreCliente,
			apellidoCliente,
			direccionCliente,
			telefonoCliente,
			correoCliente
  from cliente 

  end

GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Usuarios]    Script Date: 10/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Usuarios]								*/
/*-- Detalle			:														*/
/*-- Autor				: FMunoz												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_Usuarios]

  as
  begin

  select	u.idUsuario,
			u.fk_idTipoUsuario,
			tu.cargo,
			u.nombreUsuario,
			u.passUsuario 
  from usuario u
  inner join tipo_usuario tu
  on u.fk_idTipoUsuario = tu.idTipoUsuario

  end

GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Vehiculos]    Script Date: 10/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Vehiculos]								*/
/*-- Detalle			:														*/
/*-- Autor				: FMunoz												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_Vehiculos]

  as
  begin

  select	v.patente,
			v.fk_rutCliente,
			v.fk_idTipoVehiculo,
			UPPER(tv.nombre) as tipoVehiculo,
			v.marca,
			v.modelo,
			v.color,
			v.ano,
			v.kilometraje,
			v.estado
  from vehiculo v
  inner join tipoVehiculo tv
  on v.fk_idTipoVehiculo = tv.idTipoVehiculo

  end

GO
/****** Object:  StoredProcedure [dbo].[MT_GET_Proveedores]    Script Date: 10/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_Proveedores]							*/
/*-- Detalle			:														*/
/*-- Autor				: FMunoz												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_Proveedores]

  as
  begin

  select	idProveedor,
			nombreProveedor,
			direccionProveedor,
			telefonoProveedor,
			correoProveedor
  from proveedor

  end

GO
/****** Object:  StoredProcedure [dbo].[MT_GET_TipoUsuario]    Script Date: 11/06/2021 0:28:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 /*------------------------------------------------------------------------------*/
/*-- Empresa			: TallerMecanico									    */
/*-- Tipo				: Procedimiento											*/
/*-- Nombre				: [dbo].[MT_GET_TipoUsuario]							*/
/*-- Detalle			:														*/
/*-- Autor				: FMunoz												*/
/*-- Modificaciones		:														*/
/*------------------------------------------------------------------------------*/
  CREATE procedure [dbo].[MT_GET_TipoUsuario]

  as
  begin

  select	idTipoUsuario,
			cargo
  from tipo_usuario

  end

GO